[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.5"
uvicorn = {extras = ["standard"], version = "==0.32.1"}
pydantic = {extras = ["email"], version = "==2.10.3"}
pydantic-settings = "==2.6.1"
boto3 = "==1.35.99"
psycopg2-binary = "==2.9.11"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
